.datacontainer {
    background-color: #DCDCDC;
    animation: move-to-right;
    animation-duration: 5s ease-in-out forwards;
}

.input_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 50px;
    padding-top: 40px;
}

.formdata {
    display: flex;
    flex-direction: column;
}

.password {
    width: 25%;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.password::placeholder {
    color: #000;
}

.password:focus::placeholder {
    color: #000;
    top: -18px;
    font-size: 0px;
    transition: 0.6s;
}
.password:focus {
    background-color: #DCDCDC;
    border-radius: 6px;
}

.message {
    width: 75%;
    height: 300px;
    border-radius: 6px;
    border-color: beige;
    letter-spacing: 1.5px;
    line-height: 15px;
    outline: none;
    background-color: #DCDCDC;
}

.message:focus::placeholder {
    color: #DCDCDC;
    top: -18px;
    font-size: 0px;
    transition: 0.6s;
}

.textupper {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
}

.encrypt {
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 2px;
    border-width: 1px;
    background-color: transparent;
    cursor: pointer;
}

.encrypt:hover {
    background-color: #DCDCDC;
    transition: 0.3s;
}



@keyframes move-to-right {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to{ 
        opacity: 1;
        transform: translate(0);
    }
}